[Unit]
Description=Star Lamp Service

[Service]
Type=simple
ExecStart=/usr/bin/starlamp
AmbientCapabilities=CAP_NET_BIND_SERVICE
User=pi

[Install]
WantedBy=multi-user.target